
*.user
*.db
*.o
*.exe
*.Release
*.Debug
*.stash
DEV/bin
*.csv
*.csv
*.csv
*.gnet
*.bnet
*.dll
*bin
*qml.cpp
*.8-pre1
*.8-pre1
NnqmlUi/Release/release/moc_mainwindow.cpp
NnqmlUi/Release/Makefile
*.autosave
NnqmlUi/Release
Release/release/main.o
*.exe
*.o
*.o
